<br><br><br>
<div class="container">
<br>
<div class='well'>
<% @place.each do |t| %> <br>
  <strong>Name: <%= t['name'] %></strong>, Versions: <%= t['version'] %></strong><br>
  <strong>Authours: <%= t['authors'] %></strong><br>
  <strong>Project Page: <%= link_to t['project_uri'], t['project_uri'], target: '_blank' %></strong><br><br>
  <p><strong>Info: <%= t['info'] %></strong></p>
  <hr>
<% end %>  
</div>
<br>
<br>
<%= form_tag(users_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search RubyGems", class:'form-control' %>
  <%= submit_tag "Search", :name => nil, class:'btn btn-default' %>
<% end %>
<br>
</div>